MONGODB_URI_LOCAL=mongodb://127.0.0.1:27017/geonotes
MONGODB_URI=mongodb+srv://<username>:<password>@geonotes.8lcqprm.mongodb.net/?retryWrites=true&w=majority&appName=GeoNotes
PORT=3001
SESSION_SECRET=change_this_to_a_secure_random_string
GOOGLE_MAPS_API_KEY=key_here
NODE_ENV=development